
<!---------------------------------------------
Seleccionar una linea en especifico
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + L
                                               |
MAC: ⌘ + L
                                               |
________________________________________________
 -->


<li>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, distinctio porro modi facilis 
    vs ipsa ex repudiandae autem laborum nam nostrum consequatur odit laboriosam sit recusandae

    nemo! Incidunt. Rem soluta molestiae dolores quasi veniam nulla tenetur fugit nemo 

    recusandae! Sequi tenetur nobis eaque voluptatibus delectus, ab
    tempora vitae nostrum perferendis perspiciatis ea ut velit et facere iste! Laborum?
</li>

