<!---------------------------------------------
Borra una linea
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + SHIF + K
                                               |
MAC: ⌘  + SHIF + K
                                               |
________________________________________________
 -->
<ul>

 <h1>Team Cap</h1>


<ol>Capitán América</ol>
<ol>Iron Man</ol>
<ol>Deadpool</ol>


<h1>Team Hulk</h1>


<ol>Hulk</ol>
<ol>Black panter</ol>
<ol>Doctor Strange</ol>

</ul>


Capitán América vs  Black panter

<h4> Pierde black panter</h4> 