<!---------------------------------------------
Seleccionar palabras en comun
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + D
                                               |
MAC: ⌘ + D
                                               |
________________________________________________
 -->


<li>Goku</li>
<li>Vegueta</li>
<li>Goku super sayayin 2</li>
<li>Gohan</li>
<li>Goten</li>
<li>Vegueta  super sayayin God</li>
<li>trunk</li>

