<!---------------------------------------------
Insertar una linea después
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + ENTER
                                               |
MAC: ⌘ + ENTER
                                               |
________________________________________________
 -->  


<h1>¿De dónde viene?</h1>
Al contrario del pensamiento popular, el texto de Lorem Ipsum no es simplemente texto aleatorio. Tiene sus raices en una pieza cl´sica de la literatura del Latin, que data del año 45 antes de Cristo, haciendo que este adquiera mas de 2000 años de antiguedad.
<h1>¿Dónde puedo conseguirlo?</h1>
Hay muchas variaciones de los pasajes de Lorem Ipsum disponibles, pero la mayoría sufrió alteraciones en alguna manera, ya sea porque se le agregó humor, o palabras aleatorias que no parecen ni un poco creíbles. Si vas a utilizar un pasaje de Lorem Ipsum,
necesitás estar seguro de que no hay nada avergonzante escondido en el medio del texto.