<!---------------------------------------------

----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: CTRL + L
                                               |
MAC: ⌘ + L 
                                               |
________________________________________________

 --><lo>borra</lo>
<lo>no borra</lo>
<lo>borra</lo>
<lo>no borra</lo>
<lo>borra</lo>
<lo>no borra</lo>
