<!---------------------------------------------
Seleccionar una linea en especifico
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + \ Y  Shift + Alt + A
                                               |
MAC: ⌘ /  Y Shift + ⌥ + A
                                               |
________________________________________________
 -->
<!--  -->

<span> comentar estos</span>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam officiis voluptatem commodi neque eum qui minus nulla quod tenetur deleniti dolores autem praesentium libero, consequatur explicabo ullam, nobis eligendi? Deserunt, quo. Eveniet non
    illo molestias! Fugiat, corrupti. Ad, officia totam repellendus voluptate amet tempore consectetur fuga laudantium numquam, optio minus. Facilis nisi quis culpa beatae enim. Doloribus, in ipsam! erendis fuga in neque voluptate qui! Facere ducimus
    rem sunt voluptatem consequuntur.</p>
<p>lorem</p>

<span> comentar estos</span>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ipsam officiis voluptatem commodi neque eum qui minus nulla quod tenetur deleniti dolores autem praesentium libero, consequatur explicabo ullam, nobis eligendi? Deserunt, quo. Eveniet non
    illo molestias! Fugiat, corrupti. Ad, officia totam repellendus voluptate amet tempore consectetur fuga laudantium numquam, optio minus. Facilis nisi quis culpa beatae enim. Doloribus, in ipsam! erendis fuga in neque voluptate qui! Facere ducimus
    rem sunt voluptatem consequuntur.</p>
<p>lorem</p>