
<!---------------------------------------------
Mover lineas de código hacia abajo
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl + Shift + ↓
                                               |
MAC: ⌘ + Shift + ↓
                                               |
________________________________________________
 -->



<li>Color numero8</li>
<li>Color numero5</li>
<li>Color numero1</li>
<li>Color numero3</li>
<li>Color numero2</li>
<li>Color numero4</li>
<li>Color numero7</li>
<li>Color numero6</li>


<!--  
 ****RESULTADO

<li>Color numero1</li>
<li>Color numero2</li>
<li>Color numero3</li>
<li>Color numero4</li>
<li>Color numero5</li>
<li>Color numero6</li>
<li>Color numero7</li>
<li>Color numero8</li>

 -->