
<!---------------------------------------------
Multi selecionado
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: Ctrl+ Click izquierdo 
                                               |
MAC: ⌘ + Click izquierdo 
                                               |
________________________________________________
 -->


<h1>Marvel</h1>

<li>Deadpool</li>
<li>Thanos</li>
<li>Cap-America</li>




<h1>DC</h1>

<li>Batman</li>
<li>joker</li>
<li>Super-man</li>


<!-- 
*****RESULTADO****


<h1>Marvel</h1>

<li class="Deadpool">Deadpool</li>
<li class="Thanos">Thanos</li>
<li class="Cap-America">Cap-America</li>



<h1>DC</h1>

<li>Batman</li>
<li>joke
<li>Super-man</li>
 --> 