<!---------------------------------------------
Seleccionar una linea en especifico
----------------------                         |
                                     
                                               |
Comado para:Copy line down
                                               |
Windows y Linux: Shift + Alt + flecha ↑
                                               |
MAC: Shift + Alt (⌥) +  ↑
                                               |
________________________________________________
 -->


<div></div>


<!-- **Resultados** 




<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
-->