<!---------------------------------------------
Mover lineas de código hacia Abajo
----------------------                         |
                                     
                                               |
Comado para:
                                               |
Windows y Linux: alt + ↓
                                               |
MAC: ⌥ +↓ 
                                               |
________________________________________________
 -->


<span>Yamcha</span>
<span>Krilin</span>
<span>Mutenroshi</span>
<span>Bulma</span>
<span>Goku</span>


<!-- resultado

Bulma2 
Goku-1
Yamcha-5
Mutenroshi-3
Krilin-4

-->